.idea

dependency-injection/.idea
dependency-injection/lib
dependency-injection/out
dependency-injection/dependency-injection.iml

learning-java-annotation/.idea
learning-java-annotation/lib
learning-java-annotation/out
learning-java-annotation/learning-java-annotation.iml